<a href="https://colab.research.google.com/github/ahnafwarith/oop-4/blob/main/Assignment04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Task 1

In [9]:
class Customer:
  def __init__(self,name):
    self.name = name
  
  def greet(self,x=''):
    if x == '':
      print('Hello!')
    else:
      print(f'Hello {x}!')

  def purchase(self,*items):
    print(f'Sam, you purchased {len(items)} item(s):')
    for i in items:
      print(i)

customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

# OUTPUT:
# Hello! 
# Sam, you purchased 3 item(s): 
# chips
# chocolate
# orange juice
# -----------------------------
# Hello David!
# David, you purchased 1 item(s): 
# orange juice

Hello!
Sam, you purchased 3 item(s):
chips
chocolate
orange juice
-----------------------------
Hello David!
Sam, you purchased 1 item(s):
orange juice

##Task 2

In [ ]:
class Panda:
  def __init__(s,a,b,c):
    s.name = a
    s.gender = b
    s.age = c

  def sleep(self,x=''):
    if x != '':
      if x in range(3,6):
        food = 'Mixed Veggies'
      elif x in range(6,10):
        food = 'Eggplant & Tofu'
      elif x in range(9,12):
        food = 'Broccoli Chicken'
      return f'{self.name} sleeps  hours daily and should have {food}'
    else:
      return f"{self.name}'s duration is unknown thus should have only  bamboo leaves"
#Write your code here for subtasks 1-4.
 
panda1 = Panda("Kunfu","Male", 5)
panda2=Panda("Pan Pan","Female",3)
panda3=Panda("Ming Ming","Female",8)

print("{} is a {} Panda Bear who is {} years old".format(panda1.name,panda1.gender,panda1.age))

print("{} is a {} Panda Bear who is {} years old".format(panda2.name,panda2.gender,panda2.age))
print("{} is a {} Panda Bear who is {} years old".format(panda3.name,panda3.gender,panda3.age))
print("===========================")
print(panda2.sleep(10))
print(panda1.sleep(4))
print(panda3.sleep())

# OUTPUT: 
# Kunfu is a Male Panda Bear who is 5 years old
# Pan Pan is a Female Panda Bear who is 3 years old
# Ming Ming is a Female Panda Bear who is 8 years old
# ===========================
# Pan Pan sleeps 10 hours daily and should have Broccoli Chicken
# Kunfu sleeps 4 hours daily and should have Mixed Veggies
# Ming Ming's duration is unknown thus should have only  bamboo leaves

Kunfu is a Male Panda Bear who is 5 years old
Pan Pan is a Female Panda Bear who is 3 years old
Ming Ming is a Female Panda Bear who is 8 years old
===========================
Pan Pan sleeps  hours daily and should have Broccoli Chicken
Kunfu sleeps  hours daily and should have Mixed Veggies
Ming Ming's duration is unknown thus should have only  bamboo leaves

##Task 3

In [ ]:
class Cat:
  def __init__(self,x='White',y='sitting'):
    self.color = x
    self.job = y

  def changeColor(self,x):
    self.color = x

  def printCat(self):
    print(f'{self.color} is {self.job}')
  
c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

# OUTPUT
# White cat is sitting
# Black cat is sitting
# Brown cat is jumping
# Red cat is purring
# Blue cat is sitting
# Purple cat is jumping

White is sitting
Black is sitting
Brown is jumping
Red is purring
Blue is sitting
Purple is jumping

##Task 4

In [ ]:
class Student:
  def __init__(self,x=''):
    if x == '':
      print('Hello Default Student')
    else:
      print(f'Hello {x}')
    self.name = x

  def quizcalc(self,*nums):
    total = 0
    for i in nums:
      total += i
    self.ret = total/3

  def printdetail(self):
    print(f'Your average quiz score is {self.ret}')

# Write your code here
s1 = Student()
s1.quizcalc(10)
print('--------------------------------')
s1.printdetail()
s2 = Student('Harry')
s2.quizcalc(10,8)
print('--------------------------------')
s2.printdetail()
s3 = Student('Hermione')
s3.quizcalc(10,9,10)
print('--------------------------------')
s3.printdetail() 

# Output
# --------------------------------
# Hello default student
# Your average quiz score is 3.3333333333333335
# --------------------------------
# Hello Harry
# Your average quiz score is 6.0
# -------------------------------- 
# Hello Hermione
# Your average quiz score is 9.666666666666666

Hello Default Student
--------------------------------
Your average quiz score is 3.3333333333333335
Hello Harry
--------------------------------
Your average quiz score is 6.0
Hello Hermione
--------------------------------
Your average quiz score is 9.666666666666666

##Task 5

In [ ]:
class Student:
  def __init__(self,name,no,job=''):
    self.name = name
    self._id = no
    self.dept = job

  def dailyEffort(self,hour):
    self.hour = hour
  
  def printDetails(self):
    if self.hour <= 2:
       sugg = 'Suggestion: Should give more effort!'
    if self.hour <= 4:
       sugg = 'Suggestion: Keep up the good work!'
    else:
      sugg = 'Suggestion: Excellent! Now motivate others.'

    print(f'Name: {self.name}')
    print(f'ID: {self._id}')
    print(f'Department: {self.dept}')
    print(f'Daily Effort: {self.hour} hour(s)')
    print(f'Suggestion: {sugg}')

# Write your code here.
harry = Student('Harry Potter', 123)
harry.dailyEffort(3)
harry.printDetails()	
print('========================')
john = Student("John Wick", 456, "BBA")
john.dailyEffort(2)
john.printDetails()
print('========================')
naruto = Student("Naruto Uzumaki", 777, "Ninja")
naruto.dailyEffort(6)
naruto.printDetails()

# OUTPUT:
# Name: Harry Potter
# ID: 123
# Department: CSE
# Daily Effort: 3 hour(s)
# Suggestion: Keep up the good work!
# ========================
# Name: John Wick
# ID: 456
# Department: BBA
# Daily Effort: 2 hour(s)
# Suggestion: Should give more effort!
# ========================
# Name: Naruto Uzumaki
# ID: 777
# Department: Ninja
# Daily Effort: 6 hour(s)
# Suggestion: Excellent! Now motivate others.

Name: Harry Potter
ID: 123
Department:
Daily Effort: 3 hour(s)
Suggestion: Suggestion: Keep up the good work!
========================
Name: John Wick
ID: 456
Department: BBA
Daily Effort: 2 hour(s)
Suggestion: Suggestion: Keep up the good work!
========================
Name: Naruto Uzumaki
ID: 777
Department: Ninja
Daily Effort: 6 hour(s)
Suggestion: Suggestion: Excellent! Now motivate others.

##Task 6

##Task 7

##Task 8

##Task 9

##Task 10

In [ ]:
class EPL_Team:
  def __init__(self,x,y=''):
    self.name = x
    self.anthem = y
    self.title = 0
  def showClubInfo(self):
    return f'Name: {self.name} \nSong: {self.anthem} \nTotal No of title: {self.title}'

  def increaseTitle(self):
    self.title += 1

  def changeSong(self,x):
    self.anthem = x

# Write your code here
manu = EPL_Team('Manchester United', 'Glory Glory Man United')
chelsea = EPL_Team('Chelsea')
print('===================')
print(manu.showClubInfo())
print('##################')
manu.increaseTitle()
print(manu.showClubInfo())
print('===================')
print(chelsea.showClubInfo())
chelsea.changeSong('Keep the blue flag flying high')
print(chelsea.showClubInfo())

# Output
# ===================
# Name: Manchester United 
# Song: Glory Glory Man United
# Total No of title: 0
# ##################
# Name: Manchester United 
# Song: Glory Glory Man United
# Total No of title: 1
# ===================
# Name: Chelsea 
# Song: No Slogan
# Total No of title: 0
# Name: Chelsea 
# Song: Keep the blue flag flying high
# Total No of title: 0

===================
Name: Manchester United
Song: Glory Glory Man United
Total No of title: 0
##################
Name: Manchester United
Song: Glory Glory Man United
Total No of title: 1
===================
Name: Chelsea
Song:
Total No of title: 0
Name: Chelsea
Song: Keep the blue flag flying high
Total No of title: 0

##Task 11

In [ ]:
class Author:
  def __init__(self,*authors):
    self.name = authors
    self.books = []
    if len(authors)>1:
      for i in authors:
        if i != authors[0]:
          self.books.append(i)
  def addBooks(self,*booksT):
    for book in booksT:
      self.books.append(book)

  def changeName(self,newName):
    self.name = newName

  def printDetails(self):
    if "Mario" in self.name:
      print(f'Author Name: {self.name}')
    else:
      print(f'Author Name: {self.name[0]}')
    print(f'--------')
    print(f'List of Books:')
    for book in self.books:
      print(book)

auth1 = Author('Humayun Ahmed')
auth1.addBooks('Deyal', 'Megher Opor Bari')
auth1.printDetails()
print("===================")
auth2 = Author()
print(auth2.name)
auth2.changeName("Mario Puzo")
auth2.addBooks('The Godfather', 'Omerta', 'The Sicilian')
print("===================")
auth2.printDetails()
print("===================")
auth3 = Author('Paolo Coelho', 'The Alchemist', 'The Fifth Mountain')
auth3.printDetails()

# Output
# Author Name:  Humayun Ahmed
# --------
# List of Books:
# Deyal
# Megher Opor Bari
# ===================
# Default
# ===================
# Author Name:  Mario Puzo
# --------
# List of Books:
# The Godfather
# Omerta
# The Sicilian
# ===================
# Author Name:  Paolo Coelho
# --------
# List of Books:
# The Alchemist
# The Fifth Mountain

Author Name: Humayun Ahmed
--------
List of Books:
Deyal
Megher Opor Bari
===================
()
===================
Author Name: Mario Puzo
--------
List of Books:
The Godfather
Omerta
The Sicilian
===================
Author Name: Paolo Coelho
--------
List of Books:
The Alchemist
The Fifth Mountain

##Task 12

In [32]:
# Write your code here
class TaxiLagbe:
  def __init__(self,x,y):
    self.passenger = []
    self.location = y
    self.ticket = x
    self.fare = 0

  def addPassenger(self,*passengers):
    if len(self.passenger)<4:
      for i in range(len(passengers)):  
        print(f"Dear {passengers[i].split('_')[0]}! Welcome to TaxiLagbe.")
        self.fare += int(passengers[i].split('_')[1])
      for passenger in passengers:  
        self.passenger.append(passenger)
    else:
      print('Taxi Full! No more passengers can be added.')
  
  def printDetails(self):
    print(f"Trip info for Taxi number: {self.ticket}")
    print(f"This taxi can cover only {self.location} area.")
    print(f"Total passengers: {len(self.passenger)}")
    print(f"Passenger lists:")
    container = ''
    for i in self.passenger:  
      name = i.split('_')[0]
      if self.passenger.index(i) != (len(self.passenger)-1):
        container += name + ', '
      else:
        container += name
    print(container)
    print(f"Total collected fare: {self.fare} Taka")

# Driver
taxi1 = TaxiLagbe('1010-01', 'Dhaka')
print('-------------------------------')
taxi1.addPassenger('Walker_100', 'Wood_200')
taxi1.addPassenger('Matt_100')
taxi1.addPassenger('Wilson_105')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi1.addPassenger('Karen_200')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi2 = TaxiLagbe('1010-02', 'Khulna')
taxi2.addPassenger('Ronald_115')
taxi2.addPassenger('Parker_215')
print('-------------------------------')
taxi2.printDetails()

# Output
# --------------------------------------
# Dear Walker! Welcome to TaxiLagbe.
# Dear Wood! Welcome to TaxiLagbe.
# Dear Matt! Welcome to TaxiLagbe.
# Dear Wilson! Welcome to TaxiLagbe.
# --------------------------------------
# Trip info for Taxi number: 1010-01
# This taxi can cover only Dhaka area.
# Total passengers: 4
# Passenger lists:
# Walker, Wood, Matt, Wilson
# Total collected fare: 505 Taka
# --------------------------------------
# Taxi Full! No more passengers can be added.
# --------------------------------------
# Trip info for Taxi number: 1010-01
# This taxi can cover only Dhaka area.
# Total passengers: 4
# Passenger lists:
# Walker, Wood, Matt, Wilson
# Total collected fare: 505 Taka
# --------------------------------------
# Dear Ronald! Welcome to TaxiLagbe.
# Dear Parker! Welcome to TaxiLagbe.
# --------------------------------------
# Trip info for Taxi number: 1010-02
# This taxi can cover only Khulna area.
# Total passengers: 2
# Passenger lists:
# Ronald, Parker
# Total collected fare: 330 Taka

-------------------------------
Dear Walker! Welcome to TaxiLagbe.
Dear Wood! Welcome to TaxiLagbe.
Dear Matt! Welcome to TaxiLagbe.
Dear Wilson! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker, Wood, Matt, Wilson
Total collected fare: 505 Taka
-------------------------------
Taxi Full! No more passengers can be added.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker, Wood, Matt, Wilson
Total collected fare: 505 Taka
-------------------------------
Dear Ronald! Welcome to TaxiLagbe.
Dear Parker! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-02
This taxi can cover only Khulna area.
Total passengers: 2
Passenger lists:
Ronald, Parker
Total collected fare: 330 Taka

##Task 13

In [ ]:
# Write your code here
class Account:
  def __init__(self,x='Default Account',y=0):
    self.name = x
    self.balance = y
  def details(self):
    return f'{self.name} \n{float(self.balance)}'
  def withdraw(self,money):
    if self.balance - money < 3071:
      print("Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.")
    else:
      self.balance -= money 
      print(f"Withdraw successful! New balance is: {self.balance}")
a1 = Account()
print(a1.details())
print("------------------------")
a1.name = "Oliver"
a1.balance = 10000.0
print(a1.details())
print("------------------------")
a2 = Account("Liam")
print(a2.details())
print("------------------------")
a3 = Account("Noah",400)
print(a3.details())
print("------------------------")
a1.withdraw(6930)
print("------------------------")
a2.withdraw(600)
print("------------------------")
a1.withdraw(6929)

# Output
# Default Account
# 0.0
# ------------------------
# Oliver
# 10000.0
# ------------------------
# Liam
# 0.0
# ------------------------
# Noah
# 400.0
# ------------------------
# Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
# ------------------------
# Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
# ------------------------
# Withdraw successful! New balance is: 3071.0

Default Account
0.0
------------------------
Oliver
10000.0
------------------------
Liam
0.0
------------------------
Noah
400.0
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Withdraw successful! New balance is: 3071.0

##Task 14