<a href="https://colab.research.google.com/github/ahnafwarith/oop-4/blob/main/OOP_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Task 1

In [ ]:
class Customer:
  def __init__(self,name):
    self.name = name
  
  def greet(self,x=''):
    if x == '':
      print('Hello!')
    else:
      print(f'Hello {x}!')

  def purchase(self,*items):
    print(f'Sam, you purchased {len(items)} item(s):')
    for i in items:
      print(i)

customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

# OUTPUT:
# Hello! 
# Sam, you purchased 3 item(s): 
# chips
# chocolate
# orange juice
# -----------------------------
# Hello David!
# David, you purchased 1 item(s): 
# orange juice

Hello!
Sam, you purchased 3 item(s):
chips
chocolate
orange juice
-----------------------------
Hello David!
Sam, you purchased 1 item(s):
orange juice

##Task 2

In [ ]:
class Panda:
  def __init__(s,a,b,c):
    s.name = a
    s.gender = b
    s.age = c

  def sleep(self,x=''):
    if x != '':
      if x in range(3,6):
        food = 'Mixed Veggies'
      elif x in range(6,10):
        food = 'Eggplant & Tofu'
      elif x in range(9,12):
        food = 'Broccoli Chicken'
      return f'{self.name} sleeps  hours daily and should have {food}'
    else:
      return f"{self.name}'s duration is unknown thus should have only  bamboo leaves"
#Write your code here for subtasks 1-4.
 
panda1 = Panda("Kunfu","Male", 5)
panda2=Panda("Pan Pan","Female",3)
panda3=Panda("Ming Ming","Female",8)

print("{} is a {} Panda Bear who is {} years old".format(panda1.name,panda1.gender,panda1.age))

print("{} is a {} Panda Bear who is {} years old".format(panda2.name,panda2.gender,panda2.age))
print("{} is a {} Panda Bear who is {} years old".format(panda3.name,panda3.gender,panda3.age))
print("===========================")
print(panda2.sleep(10))
print(panda1.sleep(4))
print(panda3.sleep())

# OUTPUT: 
# Kunfu is a Male Panda Bear who is 5 years old
# Pan Pan is a Female Panda Bear who is 3 years old
# Ming Ming is a Female Panda Bear who is 8 years old
# ===========================
# Pan Pan sleeps 10 hours daily and should have Broccoli Chicken
# Kunfu sleeps 4 hours daily and should have Mixed Veggies
# Ming Ming's duration is unknown thus should have only  bamboo leaves

Kunfu is a Male Panda Bear who is 5 years old
Pan Pan is a Female Panda Bear who is 3 years old
Ming Ming is a Female Panda Bear who is 8 years old
===========================
Pan Pan sleeps  hours daily and should have Broccoli Chicken
Kunfu sleeps  hours daily and should have Mixed Veggies
Ming Ming's duration is unknown thus should have only  bamboo leaves

##Task 3

In [ ]:
class Cat:
  def __init__(self,x='White',y='sitting'):
    self.color = x
    self.job = y

  def changeColor(self,x):
    self.color = x

  def printCat(self):
    print(f'{self.color} is {self.job}')
  
c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

# OUTPUT
# White cat is sitting
# Black cat is sitting
# Brown cat is jumping
# Red cat is purring
# Blue cat is sitting
# Purple cat is jumping

White is sitting
Black is sitting
Brown is jumping
Red is purring
Blue is sitting
Purple is jumping

##Task 4

In [ ]:
class Student:
  def __init__(self,x=''):
    if x == '':
      print('Hello Default Student')
    else:
      print(f'Hello {x}')
    self.name = x

  def quizcalc(self,*nums):
    total = 0
    for i in nums:
      total += i
    self.ret = total/3

  def printdetail(self):
    print(f'Your average quiz score is {self.ret}')

# Write your code here
s1 = Student()
s1.quizcalc(10)
print('--------------------------------')
s1.printdetail()
s2 = Student('Harry')
s2.quizcalc(10,8)
print('--------------------------------')
s2.printdetail()
s3 = Student('Hermione')
s3.quizcalc(10,9,10)
print('--------------------------------')
s3.printdetail() 

# Output
# --------------------------------
# Hello default student
# Your average quiz score is 3.3333333333333335
# --------------------------------
# Hello Harry
# Your average quiz score is 6.0
# -------------------------------- 
# Hello Hermione
# Your average quiz score is 9.666666666666666

Hello Default Student
--------------------------------
Your average quiz score is 3.3333333333333335
Hello Harry
--------------------------------
Your average quiz score is 6.0
Hello Hermione
--------------------------------
Your average quiz score is 9.666666666666666

##Task 5

In [ ]:
class Student:
  def __init__(self,name,no,job=''):
    self.name = name
    self._id = no
    self.dept = job

  def dailyEffort(self,hour):
    self.hour = hour
  
  def printDetails(self):
    if self.hour <= 2:
       sugg = 'Suggestion: Should give more effort!'
    if self.hour <= 4:
       sugg = 'Suggestion: Keep up the good work!'
    else:
      sugg = 'Suggestion: Excellent! Now motivate others.'

    print(f'Name: {self.name}')
    print(f'ID: {self._id}')
    print(f'Department: {self.dept}')
    print(f'Daily Effort: {self.hour} hour(s)')
    print(f'Suggestion: {sugg}')

# Write your code here.
harry = Student('Harry Potter', 123)
harry.dailyEffort(3)
harry.printDetails()	
print('========================')
john = Student("John Wick", 456, "BBA")
john.dailyEffort(2)
john.printDetails()
print('========================')
naruto = Student("Naruto Uzumaki", 777, "Ninja")
naruto.dailyEffort(6)
naruto.printDetails()

# OUTPUT:
# Name: Harry Potter
# ID: 123
# Department: CSE
# Daily Effort: 3 hour(s)
# Suggestion: Keep up the good work!
# ========================
# Name: John Wick
# ID: 456
# Department: BBA
# Daily Effort: 2 hour(s)
# Suggestion: Should give more effort!
# ========================
# Name: Naruto Uzumaki
# ID: 777
# Department: Ninja
# Daily Effort: 6 hour(s)
# Suggestion: Excellent! Now motivate others.

Name: Harry Potter
ID: 123
Department:
Daily Effort: 3 hour(s)
Suggestion: Suggestion: Keep up the good work!
========================
Name: John Wick
ID: 456
Department: BBA
Daily Effort: 2 hour(s)
Suggestion: Suggestion: Keep up the good work!
========================
Name: Naruto Uzumaki
ID: 777
Department: Ninja
Daily Effort: 6 hour(s)
Suggestion: Suggestion: Excellent! Now motivate others.

##Task 6

In [ ]:
class Patient:
  def __init__(self,name,age):
    self.name=name
    self.age=age
    self.symptoms = []

  def add_Symptom(self,*symps):
    for i in symps : self.symptoms.append(i)
  
  def printPatientDetail(self):
    print(f"Name: {self.name}")
    print(f"Age: {self.age}")
    container = ''
    for name in self.symptoms:
      if self.symptoms.index(name)!=len(self.symptoms)-1:
        container += name + ', '
      else:
        container += name
    print(container)
    print(f"Symptoms: {container}")
  
# Write your code here.
p1 = Patient("Thomas", 23)
p1.add_Symptom("Headache")
p2 = Patient("Carol", 20)
p2.add_Symptom("Vomiting", "Coughing")
p3 = Patient("Mike", 25)
p3.add_Symptom("Fever", "Headache", "Coughing")
print("=========================")
p1.printPatientDetail()
print("=========================")
p2.printPatientDetail()
print("=========================")
p3.printPatientDetail()
 
# OUTPUT:
# =========================
# Name: Thomas
# Age: 23
# Symptoms: Headache
# =========================
# Name: Carol
# Age: 20
# Symptoms: Vomiting, Coughing
# =========================
# Name: Mike
# Age: 25
# Symptoms: Fever, Headache, Coughing

=========================
Name: Thomas
Age: 23
Headache
Symptoms: Headache
=========================
Name: Carol
Age: 20
Vomiting, Coughing
Symptoms: Vomiting, Coughing
=========================
Name: Mike
Age: 25
Fever, Headache, Coughing
Symptoms: Fever, Headache, Coughing

##Task 7

In [ ]:
class Match:
  def __init__(self,x):
    self.team1 = x.split('-')[0]
    self.team2 = x.split('-')[1]
    self.over = 0
    self.run = 0
    self.wicket = 0
    print('5..4..3..2..1.. Play !!!')

  def print_scoreboard(self):
    return f"Batting Team: {self.team1} \nBowling Team: {self.team2} \nTotal Runs: {self.run} Wickets: {self.wicket} Overs: {self.over}"

  def add_run(self,x):
    self.run += x

  def add_over(self,x):
    if x >= 5:
      print(f"Warning! Cannot add {x} over/s ({x} over match)")    
    else:
      self.over += x
      self.run += 1

  def add_wicket(self,x):
    self.wicket += x

# Write your code here.
match1 = Match("Rangpur Riders-Cumilla Victorians")
print("=========================")
match1.add_run(4)
match1.add_run(6)
match1.add_over(1)
print(match1.print_scoreboard())
print("=========================")
match1.add_over(5)
print("=========================")
match1.add_wicket(1)
print(match1.print_scoreboard())

# OUTPUT:
# 5..4..3..2..1.. Play !!!
# ============================
# Batting Team: Rangpur Riders
# Bowling Team: Cumilla Victorians
# Total Runs: 11 Wickets: 0 Overs: 1
# ============================
# Warning! Cannot add 5 over/s (5 over match)
# ============================
# Batting Team: Rangpur Riders
# Bowling Team: Cumilla Victorians
# Total Runs: 11 Wickets: 1 Overs: 1

5..4..3..2..1.. Play !!!
=========================
Batting Team: Rangpur Riders
Bowling Team: Cumilla Victorians
Total Runs: 11 Wickets: 0 Overs: 1
=========================
Warning! Cannot add 5 over/s (5 over match)
=========================
Batting Team: Rangpur Riders
Bowling Team: Cumilla Victorians
Total Runs: 11 Wickets: 1 Overs: 1

##Task 8

In [ ]:
class ParcelKoro:
  def __init__(self,name='No name set',no=0):
    self.name = name
    self.product_weight = no
    self.location_charge = 50

  def calculateFee(self,loc='yoberry'):
    if loc != 'yoberry':
      self.location_charge = 100
    if self.product_weight>0:
      self.total_fee = (self.product_weight * 20) + self.location_charge
    else:
      self.total_fee = 0
  
  def printDetails(self):
    print(f"Customer Name: {self.name}")
    print(f"Product Weight: {self.product_weight}")
    print(f"Total fee: {self.total_fee}")

# Write your code here.
print("**********************")
p1 = ParcelKoro()
p1.calculateFee()
p1.printDetails()
print("**********************")
p2 = ParcelKoro('Bob The Builder')
p2.calculateFee()
p2.printDetails()
print("----------------------------")
p2.product_weight = 15
p2.calculateFee()
p2.printDetails()
print("**********************")
p3 = ParcelKoro('Dora The Explorer', 10)
p3.calculateFee('Dhanmondi')
p3.printDetails()

# OUTPUT:
# **********************
# Customer Name: No name set
# Product Weight: 0
# Total fee: 0
# **********************
# Customer Name: Bob The Builder
# Product Weight: 0
# Total fee: 0
# ----------------------------
# Customer Name: Bob The Builder
# Product Weight: 15
# Total fee: 350
# **********************
# Customer Name: Dora The Explorer
# Product Weight: 10
# Total fee: 300

**********************
Customer Name: No name set
Product Weight: 0
Total fee: 0
**********************
Customer Name: Bob The Builder
Product Weight: 0
Total fee: 0
----------------------------
Customer Name: Bob The Builder
Product Weight: 15
Total fee: 350
**********************
Customer Name: Dora The Explorer
Product Weight: 10
Total fee: 300

##Task 9

In [ ]:
class Batsman:
  def __init__(self,*info):
    if ord(str(info[0])[0]) in range(65,91):
      self.name = info[0]
      self.runs = info[1]
      self.balls = info[2]
    else:
      self.name = 'New Batsman'
      self.runs = info[0]
      self.balls = info[1]

  def battingStrikeRate(self):
    battingStrikeRate = self.runs / self.balls * 100
    return battingStrikeRate

  def setName(self,name):
    self.name = name

  def printCareerStatistics(self):
    print(f"Name: {self.name}")
    print(f"Runs Scored: {self.runs} , Balls Faced: {self.balls}")
    
# Write your code here
b1 = Batsman(6101, 7380)
b1.printCareerStatistics()
print("============================")
b2 = Batsman("Liton Das", 678, 773)
b2.printCareerStatistics()
print("----------------------------")
print(b2.battingStrikeRate())
print("============================")
b1.setName("Shakib Al Hasan")
b1.printCareerStatistics()
print("----------------------------")
print(b1.battingStrikeRate())

# Output
# Name: New Batsman
# Runs Scored: 6101 , Balls Faced: 7380
# ============================
# Name: Liton Das
# Runs Scored: 678 , Balls Faced: 773
# ----------------------------
# 87.71021992238033
# ============================
# Name: Shakib Al Hasan
# Runs Scored: 6101 , Balls Faced: 7380
# ----------------------------
# 82.66937669376694

Name: New Batsman
Runs Scored: 6101 , Balls Faced: 7380
============================
Name: Liton Das
Runs Scored: 678 , Balls Faced: 773
----------------------------
87.71021992238033
============================
Name: Shakib Al Hasan
Runs Scored: 6101 , Balls Faced: 7380
----------------------------
82.66937669376694

##Task 10

In [ ]:
class EPL_Team:
  def __init__(self,x,y=''):
    self.name = x
    self.anthem = y
    self.title = 0
  def showClubInfo(self):
    return f'Name: {self.name} \nSong: {self.anthem} \nTotal No of title: {self.title}'

  def increaseTitle(self):
    self.title += 1

  def changeSong(self,x):
    self.anthem = x

# Write your code here
manu = EPL_Team('Manchester United', 'Glory Glory Man United')
chelsea = EPL_Team('Chelsea')
print('===================')
print(manu.showClubInfo())
print('##################')
manu.increaseTitle()
print(manu.showClubInfo())
print('===================')
print(chelsea.showClubInfo())
chelsea.changeSong('Keep the blue flag flying high')
print(chelsea.showClubInfo())

# Output
# ===================
# Name: Manchester United 
# Song: Glory Glory Man United
# Total No of title: 0
# ##################
# Name: Manchester United 
# Song: Glory Glory Man United
# Total No of title: 1
# ===================
# Name: Chelsea 
# Song: No Slogan
# Total No of title: 0
# Name: Chelsea 
# Song: Keep the blue flag flying high
# Total No of title: 0

===================
Name: Manchester United
Song: Glory Glory Man United
Total No of title: 0
##################
Name: Manchester United
Song: Glory Glory Man United
Total No of title: 1
===================
Name: Chelsea
Song:
Total No of title: 0
Name: Chelsea
Song: Keep the blue flag flying high
Total No of title: 0

##Task 11

In [ ]:
class Author:
  def __init__(self,*authors):
    if len(authors) == 0:
      self.name = 'Default'
    else:
      self.name = authors
    self.books = []
    if len(authors)>1:
      for i in authors:
        if i != authors[0]:
          self.books.append(i)
  def addBooks(self,*booksT):
    for book in booksT:
      self.books.append(book)

  def changeName(self,newName):
    self.name = newName

  def printDetails(self):
    if "Mario" in self.name:
      print(f'Author Name: {self.name}')
    else:
      print(f'Author Name: {self.name[0]}')
    print(f'--------')
    print(f'List of Books:')
    for book in self.books : print(book)
    # print([book*69 for book in self.books if book!='uwu'])
    # [0, 4, 16, 36, 64]
auth1 = Author('Humayun Ahmed')
auth1.addBooks('Deyal', 'Megher Opor Bari')
auth1.printDetails()
print("===================")
auth2 = Author()
print(auth2.name)
auth2.changeName("Mario Puzo")
auth2.addBooks('The Godfather', 'Omerta', 'The Sicilian')
print("===================")
auth2.printDetails()
print("===================")
auth3 = Author('Paolo Coelho', 'The Alchemist', 'The Fifth Mountain')
auth3.printDetails()

# Output
# Author Name:  Humayun Ahmed
# --------
# List of Books:
# Deyal
# Megher Opor Bari
# ===================
# Default
# ===================
# Author Name:  Mario Puzo
# --------
# List of Books:
# The Godfather
# Omerta
# The Sicilian
# ===================
# Author Name:  Paolo Coelho
# --------
# List of Books:
# The Alchemist
# The Fifth Mountain

Author Name: Humayun Ahmed
--------
List of Books:
Deyal
Megher Opor Bari
===================
Default
===================
Author Name: Mario Puzo
--------
List of Books:
The Godfather
Omerta
The Sicilian
===================
Author Name: Paolo Coelho
--------
List of Books:
The Alchemist
The Fifth Mountain

##Task 12

In [ ]:
# Write your code here
class TaxiLagbe:
  def __init__(self,x,y):
    self.passenger = []
    self.location = y
    self.ticket = x
    self.fare = 0

  def addPassenger(self,*passengers):
    if len(self.passenger)<4:
      for i in range(len(passengers)):  
        print(f"Dear {passengers[i].split('_')[0]}! Welcome to TaxiLagbe.")
        self.fare += int(passengers[i].split('_')[1])
      for passenger in passengers:  
        self.passenger.append(passenger)
    else:
      print('Taxi Full! No more passengers can be added.')
  
  def printDetails(self):
    print(f"Trip info for Taxi number: {self.ticket}")
    print(f"This taxi can cover only {self.location} area.")
    print(f"Total passengers: {len(self.passenger)}")
    print(f"Passenger lists:")
    container = ''
    for i in self.passenger:  
      name = i.split('_')[0]
      if self.passenger.index(i) != (len(self.passenger)-1):
        container += name + ', '
      else:
        container += name
    print(container)
    print(f"Total collected fare: {self.fare} Taka")

# Driver
taxi1 = TaxiLagbe('1010-01', 'Dhaka')
print('-------------------------------')
taxi1.addPassenger('Walker_100', 'Wood_200')
taxi1.addPassenger('Matt_100')
taxi1.addPassenger('Wilson_105')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi1.addPassenger('Karen_200')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi2 = TaxiLagbe('1010-02', 'Khulna')
taxi2.addPassenger('Ronald_115')
taxi2.addPassenger('Parker_215')
print('-------------------------------')
taxi2.printDetails()

# Output
# --------------------------------------
# Dear Walker! Welcome to TaxiLagbe.
# Dear Wood! Welcome to TaxiLagbe.
# Dear Matt! Welcome to TaxiLagbe.
# Dear Wilson! Welcome to TaxiLagbe.
# --------------------------------------
# Trip info for Taxi number: 1010-01
# This taxi can cover only Dhaka area.
# Total passengers: 4
# Passenger lists:
# Walker, Wood, Matt, Wilson
# Total collected fare: 505 Taka
# --------------------------------------
# Taxi Full! No more passengers can be added.
# --------------------------------------
# Trip info for Taxi number: 1010-01
# This taxi can cover only Dhaka area.
# Total passengers: 4
# Passenger lists:
# Walker, Wood, Matt, Wilson
# Total collected fare: 505 Taka
# --------------------------------------
# Dear Ronald! Welcome to TaxiLagbe.
# Dear Parker! Welcome to TaxiLagbe.
# --------------------------------------
# Trip info for Taxi number: 1010-02
# This taxi can cover only Khulna area.
# Total passengers: 2
# Passenger lists:
# Ronald, Parker
# Total collected fare: 330 Taka

-------------------------------
Dear Walker! Welcome to TaxiLagbe.
Dear Wood! Welcome to TaxiLagbe.
Dear Matt! Welcome to TaxiLagbe.
Dear Wilson! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker, Wood, Matt, Wilson
Total collected fare: 505 Taka
-------------------------------
Taxi Full! No more passengers can be added.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker, Wood, Matt, Wilson
Total collected fare: 505 Taka
-------------------------------
Dear Ronald! Welcome to TaxiLagbe.
Dear Parker! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-02
This taxi can cover only Khulna area.
Total passengers: 2
Passenger lists:
Ronald, Parker
Total collected fare: 330 Taka

##Task 13

In [ ]:
# Write your code here
class Account:
  def __init__(self,x='Default Account',y=0):
    self.name = x
    self.balance = y
  def details(self):
    return f'{self.name} \n{float(self.balance)}'
  def withdraw(self,money):
    if self.balance - money < 3071:
      print("Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.")
    else:
      self.balance -= money 
      print(f"Withdraw successful! New balance is: {self.balance}")
a1 = Account()
print(a1.details())
print("------------------------")
a1.name = "Oliver"
a1.balance = 10000.0
print(a1.details())
print("------------------------")
a2 = Account("Liam")
print(a2.details())
print("------------------------")
a3 = Account("Noah",400)
print(a3.details())
print("------------------------")
a1.withdraw(6930)
print("------------------------")
a2.withdraw(600)
print("------------------------")
a1.withdraw(6929)

# Output
# Default Account
# 0.0
# ------------------------
# Oliver
# 10000.0
# ------------------------
# Liam
# 0.0
# ------------------------
# Noah
# 400.0
# ------------------------
# Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
# ------------------------
# Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
# ------------------------
# Withdraw successful! New balance is: 3071.0

Default Account
0.0
------------------------
Oliver
10000.0
------------------------
Liam
0.0
------------------------
Noah
400.0
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Withdraw successful! New balance is: 3071.0

##Task 14

In [ ]:
class StudentDatabase:
  def __init__(self,name,studentId):
    self.name = name
    self.id = studentId
    self.grades = {}

  def calculateGPA(self,lst,sem):
    const = []
    total = 0
    for i in lst:
      const.append(i[:6:])
      total += float(i[7::])
    gpa = total/len(lst)
    self.grades[sem] = {tuple(const):round(gpa,3)}

  def printDetails(self):
    print(f'Name: {self.name}')
    print(f'ID: {self.id}')
    for sem,v in self.grades.items():
      print(f'Courses taken in {sem}:')
      for courses,gpa in v.items():
        for course in courses: print(course)
        print(f'GPA: {gpa}')

s1 = StudentDatabase('Pietro', '10101222')
s1.calculateGPA(['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'],
'Summer2020')
s1.calculateGPA(['CSE250: 3.7', 'CSE330: 4.0'], 'Summer2021')
print(f'Grades for {s1.name}\n{s1.grades}')
print('------------------------------------------------------')
s1.printDetails()
s2 = StudentDatabase('Wanda', '10103332')
s2.calculateGPA(['CSE111: 3.7', 'CSE260: 3.7', 'ENG101: 4.0'],
'Summer2022')
print('------------------------------------------------------')
print(f'Grades for {s2.name}\n{s2.grades}')
print('------------------------------------------------------')
s2.printDetails()


# Output
# Grades for Pietro
# {'Summer2020': {('CSE230', 'CSE220',
# 'MAT110'): 4.0}, 'Summer2021':
# {('CSE250', 'CSE330'): 3.85}}
# -----------------------------------------------
# Name: Pietro
# ID: 10101222
# Courses taken in Summer2020:
# CSE230
# CSE220
# MAT110
# GPA: 4.0
# Courses taken in Summer2021:
# CSE250
# CSE330
# GPA: 3.85
# -----------------------------------------------
# Grades for Wanda
# {'Summer2022': {('CSE111', 'CSE260',
# 'ENG101'): 3.8}}
# -----------------------------------------------
# Name: Wanda
# ID: 10103332
# Courses taken in Summer2022:
# CSE111
# CSE260
# ENG101
# GPA: 3.8

Grades for Pietro
{'Summer2020': {('CSE230', 'CSE220', 'MAT110'): 4.0}, 'Summer2021': {('CSE250', 'CSE330'): 3.85}}
------------------------------------------------------
Name: Pietro
ID: 10101222
Courses taken in Summer2020:
CSE230
CSE220
MAT110
GPA: 4.0
Courses taken in Summer2021:
CSE250
CSE330
GPA: 3.85
------------------------------------------------------
Grades for Wanda
{'Summer2022': {('CSE111', 'CSE260', 'ENG101'): 3.8}}
------------------------------------------------------
Name: Wanda
ID: 10103332
Courses taken in Summer2022:
CSE111
CSE260
ENG101
GPA: 3.8

# Task 15

In [ ]:
class FinalT6A:
 def __init__(self, x, p):
  self.temp, self.sum, self.y = 4, 0, 1
  self.temp += 1
  self.y = self.temp - p
  self.sum = self.temp + x
  print(x, self.y, self.sum)
 def methodA(self):
  x = 0
  y = 0
  y = y + self.y
  x = self.y + 2 + self.temp
  self.sum = x + y + self.methodB(self.temp, y)
  print(x, y, self.sum)
 def methodB(self, temp, n):
  x = 0
  temp += 1
  self.y = self.y + temp
  x = x + 3 + n
  self.sum = self.sum + x + self.y
  print(x, self.y, self.sum)
  return self.sum

q1 = FinalT6A(2,1) 
q1.methodA() 
q1.methodA()

2 4 7
7 10 24
11 4 39
13 16 68
17 10 95

# Task 16

In [ ]:
class Quiz3A:
  def __init__(self, k = None):
    self.temp, self.sum, self.y = 4, 0, 0
    if k != None:
      self.temp += 1
      self.temp = self.temp
      self.sum = self.temp + k
      self.y = self.sum - 1
    else:
      self.y = self.temp - 1
      self.sum = self.temp + 1
      self.temp += 2 
  def methodB(self, m, n):
    x = 0
    self.temp += 1
    self.y = self.y + m + (self.temp)
    x = x + 2 + n
    self.sum = self.sum + x + self.y
    print(x, self.y, self.sum)
    return self.sum

a1 = Quiz3A()
a1.methodB(1,2)
a2 = Quiz3A(3)
a2.methodB(2,4)
a1.methodB(2,1)
a2.methodB(1,3)

4 11 20
6 15 29
3 21 44
5 23 57

57

# Task 17

In [ ]:
class Test5:
  def __init__(self):
    self.sum = 0
    self.y = 0
  def methodA(self):
    x=y=k=0
    msg = [5]
    while (k < 2):
      y += msg[0]
      x = y + self.methodB(msg, k)
      self.sum = x + y + msg[0]
      print(x ," " , y, " " , self.sum)
      k+=1
  def methodB(self, mg2, mg1):
    x = 0
    self.y += mg2[0]
    x = x + 3 + mg1
    self.sum += x + self.y
    mg2[0] = self.y + mg1
    mg1 += x + 2
    print(x , " " ,self.y, " " , self.sum)
    return mg1

t1 = Test5()
t1.methodA()
t1.methodA()
t1.methodA()

3   5   8
10   5   20
4   10   34
17   10   38
3   15   56
10   5   30
4   30   64
27   20   78
3   35   116
10   5   50
4   70   124
47   40   158

# Task 18

In [ ]:
class Test5:
  def __init__(self):
    self.sum = 0
    self.y = 0
  def methodA(self):
    x=y=k=0
    msg = [5]
    while (k < 2):
      y += msg[0]
      x = y + self.methodB(msg, k)
      self.sum = x + y + msg[0]
      print(x ," " , y, " " , self.sum)
      k+=1
  def methodB(self, mg2, mg1):
    x = 0
    self.y += mg2[0]
    x = x + 3 + mg1
    self.sum += x + self.y
    mg2[0] = self.y + mg1
    mg1 += x + 2
    print(x , " " ,self.y, " " , self.sum)
    return mg1
t1 = Test5()
t1.methodA()
t1.methodA()
t1.methodA()

3   5   8
10   5   20
4   10   34
17   10   38
3   15   56
10   5   30
4   30   64
27   20   78
3   35   116
10   5   50
4   70   124
47   40   158

# Task 19

In [ ]:
class msgClass:
  def __init__(self):
    self.content = 0
class Q5:
  def __init__(self):
    self.sum = 1
    self.x = 2
    self.y = 3
  def methodA(self):
    x, y = 1, 1
    msg = []
    myMsg = msgClass()
    myMsg.content = self.x
    msg.append(myMsg)
    msg[0].content = self.y + myMsg.content
    self.y = self.y + self.methodB(msg[0])
    y = self.methodB(msg[0]) + self.y
    x = y + self.methodB(msg[0], msg)
    self.sum = x + y + msg[0].content
    print(x," ", y," ", self.sum)
  def methodB(self, mg1, mg2 = None):
    if mg2 == None:
      x, y = 5, 6
      y = self.sum + mg1.content
      self.y = y + mg1.content
      x = self.x + 7 +mg1.content
      self.sum = self.sum + x + y
      self.x = mg1.content + x +8
      print(x, " ", y," ", self.sum)
      return y
    else:
      x = 1
      self.y += mg2[0].content
      mg2[0].content = self.y + mg1.content
      x = x + 4 + mg1.content
      self.sum += x + self.y
      mg1.content = self.sum - mg2[0].content
      print(self.x, " ",self.y," ", self.sum)
      return self.sum

q = Q5()
q.methodA()

14   6   21
39   26   86
52   36   168
225   57   409

# Task 20

In [ ]:
class Student:
  def __init__(self,name=False,dept=False):
    if name==False and dept==False:
      print("Student name and department need to be set")
    elif name and dept==False:
      print("Department for Carol needs to be set")
    elif dept and name==False:
      print("Name needs to be set")
    else:
      print(f"{name} is from {dept} department")
    self.name = name
    self.dept = dept
    self.subs = []

  def update_name(self,name):
    self.name = name

  def update_department(self,dept):
    self.dept = dept

  def enroll(self,*subs):
    for sub in subs: self.subs.append(sub) 

  def printDetail(self):
    container = ''
    for sub in self.subs: container+= sub + ', '
    print(f"Name: {self.name}")
    print(f"Department: {self.dept}")
    print(f"Bob enrolled in {len(self.subs)} course(s):")
    print(f"{container[:-2:]}")

s1 = Student()
print("=========================")
s2 = Student("Carol")
print("=========================")
s3 = Student("Jon", "EEE")
print("=========================")
s1.update_name("Bob")
s1.update_department("CSE")
s2.update_department("BBA")
s1.enroll("CSE110", "MAT110", "ENG091")
s2.enroll("BUS101")
s3.enroll("MAT110", "PHY111")
print("###########################")
s1.printDetail()
print("=========================")
s2.printDetail()
print("=========================")
s3.printDetail()

# Output
# Student name and department need to be set
# =========================
# Department for Carol needs to be set
# =========================
# Jon is from EEE department
# =========================
# ###########################
# Name: Bob
# Department: CSE
# Bob enrolled in 3 course(s):
# CSE110, MAT110, ENG091
# =========================
# Name: Carol
# Department: BBA
# Carol enrolled in 1 course(s):
# BUS101
# =========================
# Name: Jon
# Department: EEE
# Jon enrolled in 2 course(s):
# MAT110, PHY111

Student name and department need to be set
=========================
Department for Carol needs to be set
=========================
Jon is from EEE department
=========================
###########################
Name: Bob
Department: CSE
Bob enrolled in 3 course(s):
CSE110, MAT110, ENG091
=========================
Name: Carol
Department: BBA
Bob enrolled in 1 course(s):
BUS101
=========================
Name: Jon
Department: EEE
Bob enrolled in 2 course(s):
MAT110, PHY111

# Task 21

# Task 22

# Task 23

# Task 24

# Task 25